body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


span.field-validation-error {
    color: red;
    font-weight: bold;
}



/* Bootstrap overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
 }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a.caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

.form-group {
    margin-bottom: 20px;
}


.form-control {
    font-size: 17px;
    padding: 20px 15px;
    border-radius: 9px;
}


.btn {
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 9px;
}


/*  page level styles*/

ul.gigs {
    list-style: none;
}

ul.gigs > li {
    position: relative;
    margin-bottom: 30px;

}


ul.gigs > li .date{
        background-color: red;
        color: white;
        text-align: center;
        width: 60px;
        border-radius: 8px;
 }


ul.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}


.gigs > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;

}

ul.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

ul.gigs > li .details .artist{
    font-weight: bold;
    display: block;
}


ul.gigs > li .details .artist {
     font-size: 15px;
}




